// variables

// font stack
$font-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', Arial, sans-serif

// grays & background colors
$darkest: #1d1d1d
$darker: lighten($darkest, 5%)
$dark: lighten($darkest, 15%)
$darkish: #707875
$gray: #CACFCC

// accent colors
$green: #318c63
$blue: #1b2332
$text-color: transparentize(#F4F8FB, 0.15)
$text-color-nop: #F4F8FB
$link-color: #8DD8B6
$link-color-hover: darken($link-color, 15%)
$link-color-dark: #3A584B

// fallback for legacy code
$bkg: $darker
$bkg2: $dark
$breakpoint: 700px